.upload-photos-icon:hover {
  cursor: pointer;
}

.upload-photos-icon {
  height: 120px;
  width: 120px;
  border: 2px dashed #dddfe2;
  border-radius: 2px;
  padding: 48px;
  display: inline-block;
  margin: 2px;
}

.size-pre-img {
  height: 100px;
  width: 100px;
  display: flex;
}

.normal-color {
  color:#262626;
}

.no-text-decoration:hover {
  text-decoration: none;
  color: #262626;
}

.post {
  .card-header {
    background-color: white;
  }

  .card-body {
    padding: 5px 16px 5px;
  }

  .actions {
    margin: 12px 0;
  }

  .post-time {
    margin-top: 5px;
    font-size: 10px;
  }

  .comment-input {
    font-size: 14px;
    resize: none;
  }

  .previous-btn {
    background-position: -281px -280px;
    height: 30px;
    opacity: 1;
    width: 30px;
  }

  .next-btn {
    background-position: -353px 0px;
    height: 30px;
    opacity: 1;
    width: 30px;
  }
}

.delete-post-icon {
  color: #262626;
  font-size: 20px;
}

.love {
  background-position: -325px -329px;
  height: 24px;
  width: 24px;
}

.loved {
  @extend .love;
  background-position: -200px -330px;
}

.comment {
  @extend .love;
  background-position: -258px -175px;
  margin-left: 8px;
}

.bookmark {
  @extend .love;
  background-position: -150px -355px;
}

.bookmarked {
  @extend .love;
  background-position: -353px -273px;
}

.comment-list {
  height: 310px;
  overflow: auto;
}
